#root {
  height: 100vh;
}

body {
  font-family: "Nunito", sans-serif;
  color: #384047;
}

.login__page {
  display: flex;
  align-items: center;
  /* height: 100%; */
  padding: 4rem 0 4rem 0;
  background-color: #fff;
}

.login__content {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 460px;
  /* margin: 50% auto; */
  display: block;
  margin: 0 auto;

  padding: 10px 20px;
  background: #f4f7f8;
  border-radius: 8px;
}

.modal.active {
  opacity: 1;
  pointer-events: all;
}

.login__title {
  padding-top: 10px;
}

.switch__login {
  text-align: center;
}

.enter__btn {
  padding: 19px 39px 18px 39px;
  color: #fff;
  background-color: #4bc970;
  font-size: 18px;
  text-align: center;
  font-style: normal;
  border-radius: 5px;
  width: 100%;
  border: 1px solid #3ac162;
  border-width: 1px 1px 3px;
  box-shadow: 0 -1px 0 rgba(255, 255, 255, 0.1) inset;
  margin-bottom: 10px;
}

.switch__link {
  color: blue;
}

.switch__link:hover {
  text-decoration: underline;
}

@media screen and (max-width: 480px) {
  form {
    max-width: 480px;
  }

  .login__content {
    max-width: 270px;
  }

  .gender__block {
    display: flex;
    flex-direction: column;
  }
}
