.product-banner {
  display: grid;
  grid-template-columns: 1fr 1.9fr;
  background-color: #243a6f;
}

.product-banner .left img {
  object-fit: cover;
  height: 100%;
}

.product-banner .right {
  align-self: center;
  text-align: center;
  padding: 1.6rem;
}

.product-banner .content h2 {
  color: #fbb419;
  font-size: 3rem;
  font-weight: 700;
  align-self: center;
  text-align: center;
  margin-bottom: 1rem;
}

.product-banner .content .discount {
  color: #b888ff;
}

.product-banner .content h1 span {
  color: #fff;
  font-size: 6rem;
  font-weight: 700;
  display: block;
  line-height: 1;
}

.banner__text {
  color: white;
  /* align-self: center;
  text-align: center; */
  display: block;
  line-height: 1.3;
  margin-bottom: 15px;
  font-size: 2rem;
}

.mini__content {
  display: flex;
  margin-top: 15px;
}

.mini__content-block {
  width: 33%;
  align-self: center;
  text-align: center;
  color: #fff;
}

.btnS {
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn_banner {
  display: flex;
  width: 45%;
  justify-content: space-between;
}

@media only screen and (max-width: 996px) {
  .product-banner .content h1 span {
    font-size: 5rem;
  }

  .btn_banner {
    display: flex;
    width: 70%;
    justify-content: space-between;
  }
}

@media only screen and (max-width: 768px) {
  .product-banner {
    grid-template-columns: 1fr;
  }

  .product-banner .left {
    display: none;
  }

  .product-banner .content h1 span {
    font-size: 4rem;
  }

  .product-banner .content h2 {
    font-size: 2rem;
  }

  .btn_banner {
    display: flex;
    width: 70%;
    justify-content: space-between;
  }
}

@media only screen and (max-width: 425px) {
  .mini__content {
    display: flex;
    flex-direction: column;
    margin-top: 15px;
  }

  .mini__content-block {
    width: 100%;
    margin-top: 10px;
  }

  .btnS {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .btn_banner {
    display: flex;
    width: 85%;
    justify-content: space-between;
  }
}
